*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
src/[Dd]ebug/
src/[Dd]ebugPublic/
src/[Rr]elease/
src/[Rr]eleases/
src/x64/
src/x86/
src/build/
src/bld/
src/[Bb]in/
src/[Oo]bj/
src/[Oo]ut/
src/msbuild.log
src/msbuild.err
src/msbuild.wrn

# Visual Studio 2015
.vs/